<div class="profile-container">
  <header>
    <img class="tarin-cadastro" src="../../assets/tarin.jpg">
    <span>Olá, Romário</span>

    <span style="font-size: 60px;" routerLink="/" class="material-icons">
      reply
      </span>

    <button class="button" routerLink="/new-aves">Cadastrar</button>
  </header>

  <h1>Minhas Aves</h1>

  <ul>
    <li>
      <strong>Mutação:</strong>
      <p>Descrição</p>

      <strong>Sexo:</strong>
      <p>Descrição</p>

      <strong>Anilha:</strong>
      <p>Descrição</p>

      <strong>Nascimento:</strong>
      <p>Descrição</p>

      <button class="button-editar">Editar</button>
      <button class="button">Excluir</button>
    </li>

    <li>
      <strong>Mutação:</strong>
      <p>Descrição</p>

      <strong>Sexo:</strong>
      <p>Descrição</p>

      <strong>Anilha:</strong>
      <p>Descrição</p>

      <strong>Nascimento:</strong>
      <p>Descrição</p>

      <button class="button-editar">Editar</button>
      <button class="button">Excluir</button>
    </li>
  </ul>
</div>
