<div class="profile-container">
  <header>
    <img class="tarin-cadastro" src="../../assets/tarin.jpg">
    <span>Bem Vindo, Romário</span>

    <a routerLink="#" class="back-link">a decidir</a>
    <button class="button" routerLink="/new-aves">Cadastrar</button>
  </header>

  <h1>Minhas Aves</h1>

  <ul>
    <li>
      <strong>Mutação:</strong>
      <p>Descrição</p>

      <strong>Sexo:</strong>
      <p>Descrição</p>

      <strong>Anilha:</strong>
      <p>Descrição</p>

      <strong>Nascimento:</strong>
      <p>Descrição</p>

      <button class="button">Editar</button>
      <button class="button">Excluir</button>
    </li>

    <li>
      <strong>Mutação:</strong>
      <p>Descrição</p>

      <strong>Sexo:</strong>
      <p>Descrição</p>

      <strong>Anilha:</strong>
      <p>Descrição</p>

      <strong>Nascimento:</strong>
      <p>Descrição</p>

      <button class="button">Editar</button>
      <button class="button">Excluir</button>
    </li>

    <li>
      <strong>Mutação:</strong>
      <p>Descrição</p>

      <strong>Sexo:</strong>
      <p>Descrição</p>

      <strong>Anilha:</strong>
      <p>Descrição</p>

      <strong>Nascimento:</strong>
      <p>Descrição</p>

      <button class="button">Editar</button>
      <button class="button">Excluir</button>
    </li>

    <li>
      <strong>Mutação:</strong>
      <p>Descrição</p>

      <strong>Sexo:</strong>
      <p>Descrição</p>

      <strong>Anilha:</strong>
      <p>Descrição</p>

      <strong>Nascimento:</strong>
      <p>Descrição</p>

      <button class="button">Editar</button>
      <button class="button">Excluir</button>
    </li>
  </ul>
</div>
