<div class="new-aves-container">
  <div class="content">
    <section>
      <h1>Cadastrar nova ave</h1>
      <p>Cadastre sua ave, e organize o seu plantel</p>

      <a routerLink="/" class="back-link">Pagina Inicial</a>
      <a routerLink="/aves" class="back-link">Aves</a>
    </section>
    <form>
      <input placeholder="Multação">
      <input placeholder="Sexo">
      <input placeholder="Anilha">
      <input placeholder="Nascimento">

      <button class="button">Cadastrar</button>

    </form>
  </div>

</div>

