<div class="home-container">
  <div class="content">
    <form >
      <h2>Tarins – Mutações</h2>

      <p>Com intuito de auxiliar os amigos iniciantes na criação de Pintassilgo da Venezuela (Tarin) a qual e um dos pássaros exóticos mais cobiçados da atualidade e que vem ganhando espaço como pet em relação aos tradicionais criadores de canários, que tentarei explicar as diversas mutações que temos disponível no plantel de CarduelisCucullata em cativeiro no território Brasileiro, sendo que a maior parte dos exemplares encontram-se em mãos dos criadores amadoristas. As informações aqui citadas foram estudos qualitativos e quantitativos  a partir de referencias teóricas e experiencias não somente do meu criadouro, mas também de outros criadores de carduelis.
        Mutação genética e a alteração das características (fenótipo) de um indivíduo, seja elas morfológicas, fisiológicas e comportamentais, assim podemos dividir as mutações em: Dominantes, Ligadas ao sexo e Recessivas.
        Mutação Dominante
        São mutações fenotipicamente diluídas (jaspe) ou duplo-diluídas (doble jaspe), aquelas que apresentam a redução da melanina, tornando-a um tom de cinza e não carregam eu seu genótipo (refere-se à constituição genética do individuo) as diluições.
        Para externar a mutação diluída nos filhotes e necessário que pelo menos um dos indivíduos do casal se apresente com a diluição em seu fenótipo, e para externar a dupla diluição e necessário que ambos os indivíduos do casal sejam pelo menos diluídos, assim relaciono as probabilidades de cada cruzamento, ressalto que as probabilidades são para cada ovo, e não para a postura completa, e sempre supondo 50% dos filhotes para cada sexo.
      </p>
      <p class="mutacao">
        	ANCESTRAL x ANCESTRAL
        = 100% Ancestrais.
      </p>
      <p class="mutacao">
        	ANCESTRAL x DILUÍDO.
        = 50% Diluídos e 50% Ancestrais.
      </p>
      <p class="mutacao">
        	ANCESTRAL x DUPLO DILUÍDO.
        = 100% Diluídos.
      </p>
      <p class="mutacao">
        	DILUÍDO x DILUÍDO.
        = 25% Ancestral, 50% Diluído e 25% Duplo Diluído.
      </p>
      <p class="mutacao">
        	DILUÍDO x DUPLO DILUÍDO.
        = 50% Diluído e 50% Duplo Diluído.
      </p>
      <p class="mutacao">
        	DUPLO DILUÍDO x DUPLO DILUÍDO. (Não recomendado)
        = 100% Duplo Diluídos.
      </p>

      <h2>Mutação Ligada ao Sexo</h2>
        São as mutações fenotipicamente denominadas como Bruno (Canela), Pastel (ex- Agata) e Canela Pastel (Ex. Isabel), externam para os filhotes de maneira simples para entendimento, lembrando que a associação do fenótipo e o sexo do pássaro serão fundamentais para entender o comportamento nos cruzamentos.
        Inicialmente e necessário que pelo menos um dos indivíduos a ser cruzado seja mutado e o outro desejavelmente ancestral (clássico). Assim todo filhote macho deste cruzamento nascerá ancestral portador da mutação, caso o individuo macho seja mutado, além dos machos portadores ainda nascerá todas as filhotas já no fenótipo da mutação.
        Assim, utilizando estes filhotes machos portadores com as fêmeas clássicas irão nascer machos possíveis portadores, fêmeas clássicas e fêmeas mutadas, se utilizar da fêmea mutada para cruzamento ainda poderá ter a probabilidade de nascerem machos também mutados.
        Usando as fêmeas mutadas com machos clássicos, nasceram fêmeas clássicas e machos portadores.
        O cruzamento entre estas mutações ligadas ao sexo, podem gerar os machos passe-partour (portam mais que uma mutação) e se utilizado de forma incorreta, principalmente em pássaros com diluição ou dupla diluição, poderá dificultar a classificação dos filhotes.
        As características base de cada mutação ligada ao sexo:
      <p>
        Bruno (Canela): Apresentam a alteração da eumelanina, tornando-a um tom de marrom. Normalmente os machos possuem uma maior concentração de oxidação negra na cabeça, seu lipocromo vermelho não sofre alteração.
        A mutação canela, foi a primeira que surgiu nos carduelis, sendo menos vistosa nas fêmeas devido a perda do brilho do negro. Seu manto uniforme de cor marrom claro e menos oxidado em relação aos ancestrais.
        Seu lipocromo pode ser nevado ou intenso e distribuídos em toda plumagem, assim como nos ancestrais e todos as demais mutações. A diferença entre um exemplar intenso e um nevado é notória, nos nevados nota-se por toda a plumagem uma névoa esbranquiçada, que é o resultado da sobreposição de penas cuja coloração não chega a extremidade.
        Os intensos, ao contrário dos nevados, são caracterizados pela sobreposição de penas cuja coloração chega até a sua extremidade, não deixando nenhuma área da plumagem sem a presença de pigmento, o que confere ao exemplar um colorido intenso com plena manifestação da cor de fundo.
        Assim, ha exemplares que apresentam um excesso de nevadismo ou má distribuição destas áreas esbranquiçadas. Este excesso muitas vezes mascara a cor de fundo do pássaro deixando-a opaca, por isto o ideal é um nevadismo intermediário e bem distribuído, conseguido através do acasalamento entre intensos e nevados.
        Pastel (ex-Agata): Apresentam a redução da estrutura eumelanica, tornando-a um tom de cinza escuro. Caracterizada por uma redução de oxidação negra em parte média ou toda eumelanina, inclusive diluição das penas secundárias que podem apresentar acumulo de eumelaninanegras próximos as extremidades, formando um negro evidente associado a um cinza escuro. Seu lipocromo vermelho não sofre alteração, ganhado mais brilho devido a menor oxidação da eumelanina.  Patas, unhas e bico devem ser de cor uniforme e clara. Nas fêmeas existe um contorno no olho, tipo uma sobrancelha bem marcada.
        Canela Pastel (Ex- Isabel): Apresentam a alteração da melanina, tornando-a um tom de Bege. Sua característica e a redução concentrada da eumelanina destacando o lipocromo menos intensificado. As fêmeas possuem uma mascara facial marcada, contornando a cabeça pela nuca (gola). Patas, unhas e bico devem ser de cor uniforme e clara.
      </p>
      <p>
        OBS:
        As mutações ligadas ao sexo se cruzadas com as mutações dominantes (diluição) irão resultar no acumulo das duas mutações no mesmo exemplar, podendo ter todos os resultados a ser descritos nas probabilidades relacionadas abaixo nas versões clássicas, diluídas e dupla diluídas.
        Devido as diversas linhagens existentes e inúmeros formas de cruzamentos como o uso ou não da diluição ou entre intensos, nevados e intermediários, fará que exemplares da mesma mutação tenha diferenças na tonalidades, mas não ao ponto de descaracterizar do desejado.
        Assim relaciono as probabilidades de cada cruzamento, ressalto que as probabilidades são para cada ovo, e não para a postura completa, e sempre supondo 50% dos filhotes para cada sexo.
      </p>
      <p class="mutacao">
        	ANCESTRAL X ANCESTRAL
        Machos ancestrais
        Fêmeas ancestrais
      </p>
      <p class="mutacao">
        	ANCESTRAL X CANELA
        Machos ancestrais portador de canela
        Fêmeas ancestrais
      </p>
      <p class="mutacao">
        	ANCESTRAL X PASTEL
        Machos ancestrais portador de Pastel
        Fêmeas ancestrais
      </p>
      <p class="mutacao">
        	ANCESTRAL X CANELA PASTEL
        Machos ancestrais portadores de Canela Pastel (machos possíveis passe-partout)
        Fêmeas ancestrais
      </p>
      <p class="mutacao">
        	CANELA X ANCESTRAL
        Machos ancestrais portador de canela
        Fêmeas canelas
      </p>
      <p class="mutacao">
        	CANELA X CANELA
        Machos canela
        Fêmeas canela
      </p>
      <p class="mutacao">
        	CANELA X PASTEL
        Machos ancestrais passe-partout
        Fêmeas canela
      </p>
      <p class="mutacao">
        	CANELA X CANELA PASTEL
        Machos canelas portador de Canela Pastel
        Fêmeas canelas
      </p>
      <p class="mutacao">
        	PASTEL X ANCESTRAL
        Machos ancestrais portadores de Pastel
        Fêmeas Pastéis
      </p>
      <p class="mutacao">
        	PASTEL X CANELA
        Machos ancestrais passe-partout
        Fêmeas Pastéis
      </p>
      <p class="mutacao">
        	PASTEL X PASTEL
        Machos Pastéis
        Fêmeas Pastéis
      </p>
      <p class="mutacao">
        	PASTEL X CANELA PASTEL
        Machos Pastéis portador de Canela Pastel
        Fêmeas Pastéis
      </p>
      <p class="mutacao">
        	CANELA PASTEL X ANCESTRAL
        Machos ancestrais portador de Canela Pastel (machos possíveis passe-partout)
        Fêmeas Canela Pastel
      </p>
      <p class="mutacao">
        	CANELA PASTEL X CANELA
        Machos canelas portador de Canela Pastel
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	CANELA PASTEL X PASTEL
        Machos Pastéis portador de Canela Pastel
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	CANELA PASTEL X CANELA PASTEL
        Machos canela pastel
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA X ANCESTRAL
        Machos ancestrais
        Machos ancestrais portadores de canela
        Fêmeas ancestrais
        Fêmeas canelas
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA X CANELA
        Machos ancestrais portador de canela
        Machos canela
        Fêmeas ancestrais
        Fêmeas canelas
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA X PASTEL
        Machos ancestrais portadores de Pastel
        Machos ancestrais passe-partout
        Fêmeas ancestrais
        Fêmeas canelas
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA X CANELA PASTEL
        Machos ancestrais portadores de Canela Pastel (machos possíveis passe-partout)
        Machos canelas portadores de Canela Pastel
        Fêmeas ancestrais
        Fêmeas canelas
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE PASTEL X ANCESTRAL
        Machos ancestrais
        Machos ancestrais portadores de Pastel
        Fêmeas ancestrais
        Fêmeas Pastéis
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE PASTEL X CANELA
        Machos ancestrais portadores de canela
        Machos ancestrais passe-partout
        Fêmeas ancestrais
        Fêmeas Pastéis
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE PASTEL X PASTEL
        Machos ancestrais portadores de Pastel
        Machos Pastéis
        Fêmeas ancestrais
        Fêmeas Pastéis
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA PASTEL (passe-partout) X ANCESTRAL
        Machos ancestrais
        Machos ancestrais portadores de canela
        Machos ancestrais portadores de Pastel
        Machos ancestrais portadores de Canela Pastel
        Fêmeas ancestrais
        Fêmea canelas
        Fêmeas Pastéis
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA PASTEL (passe-partout)X CANELA
        Machos ancestrais portadores de canela
        Machos ancestrais portadores de Canela Pastel (machos possíveis passe-partout)
        Machos canelas
        Machos canela portadores de Canela Pastel
        Fêmeas ancestrais
        Fêmeas canelas
        Fêmeas Pastéis
        Fêmeas isabéis
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA PASTEL (passe-partout)X PASTEL
        Machos ancestral portador de Pastel
        Machos ancestral portador de Canela Pastel (machos possíveis passe-partout)
        Machos Pastel
        Machos Pastel portador de Canela Pastel
        Fêmeas ancestrais
        Fêmeas canelas
        Fêmeas Pastéis
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	ANCESTRAL PORTADOR DE CANELA PASTEL (passe-partout)X CANELA PASTEL
        Macho ancestral portador de Canela Pastel (machos possíveis passe-partout)
        Machos canela portadores de Canela Pastel
        Machos Pastéis portadores de Canela Pastel
        Machos canela pastel
        Fêmeas ancestrais
        Fêmeas canela
        Fêmeas Pastel
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	CANELA PORTADOR DE CANELA PASTEL X ANCESTRAL
        Machos ancestrais portadores de canela
        Machos ancestrais portadores de Canela Pastel
        Fêmea canela
        Fêmea Canela Pastel
      </p>
      <p class="mutacao">
        	CANELA PORTADOR DE CANELA PASTEL X CANELA
        Machos canelas
        Machos canelas portadores de Canela Pastel
        Fêmeas canelas
        Fêmeas Canela Pastel
      </p>
      <p class="mutacao">
        	CANELA PORTADOR DE CANELA PASTELA X PASTEL
        Machos ancestrais portador de Canela Pastel (machos possíveis passe-partout )
        Machos Pastel portadores de Canela Pastel
        Fêmeas canelas
        Fêmeas Canela pastel
      </p>
      <p class="mutacao">
        	CANELA PORTADOR DE CANELA PASTEL XCANELA PASTEL
        Machos canelas portadores de Canela Pastel
        Machos canela pastel
        Fêmeas canelas
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	PASTEL PORTADOR DE CANELA PASTEL X ANCESTRAL
        Machos ancestrais portadores de Pastel
        Machos ancestrais portadores de Canela Pastel
        Fêmeas Pastéis
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	PASTEL PORTADOR DE CANELA PASTEL X CANELA
        Machos ancestrais portadores de Canela Pastel (machos possíveis passe-partout)
        Machos canelas portadores de Canela Pastel
        Fêmeas Pastéis
        Fêmeas Canela pastel
      </p>
      <p class="mutacao">
        	PASTEL PORTADOR DE CANELA PASTEL X PASTEL
        Machos Pastéis
        Machos Pastel portadores de Canela Pastel
        Fêmeas Pastéis
        Fêmeas canela pastel
      </p>
      <p class="mutacao">
        	PASTEL PORTADOR DE CANELA PASTEL X CANELA PASTEL
        Machos Pastéis portadores de Canela Pastel
        Machos canela pastel
        Fêmeas Pastéis
        Fêmeas canela pastel
      </p>


      <h2>Mutação Recessiva</h2>
      <p>
       Exemplo de mutação recessiva e a Topázio, onde no Brasil só conheço nos carduelismagellanicas. Suas características são a redução da eumelanina negra, em tom intermediário mais claro que os brunos. Patas e bicos brancos, e lipocromo intenso. O comportamento genético é diferente das demais sitadas, para os filhotes externarem a mutação necessitam de no mínimo que ambos os indivíduos a serem cruzados sejam portadores, neste caso, às fêmeas também irão portar os genes da mutação.
      </p>
      <p class="mutacao">
        •	ANCESTRAL x TOPÁZIO
        = 100% Portadores
      </p>
      <p class="mutacao">
        •	ANCESTRAL x PORTADOR DE TOPÁZIO
        = 50% Portadores e 50% Ancestrais
      </p>
      <p class="mutacao">
        •	ANCESTRAL PORTADOR DE TOPÁZIO x TOPÁZIO
        = 50% Portadores e 50% Topázios
      </p>
      <p class="mutacao">
        •	ANCESTRAL PORTADOR DE TOPÁZIO x ANCESTRAL PORTADOR DE TOPÁZIO
        = 50% Portadores, 25% Topázios 25% Ancestrais
      </p>
      <p class="mutacao">
        •	TOPÁZIO x TOPÁZIO
        = 100% Topázios
      </p>

    </form>
  </div>

 <div>
