<div class="register-container">
  <div class="content">
    <section>
      <img src="../../assets/logo.png" class="logo">

      <h1>Novo Cadastro</h1>
      <p>Faça seu cadastro, e organize o seu plantel</p>

      <a routerLinkActive="active" routerLink="/" class="back-link">Pagina Inicial</a>
      <a routerLinkActive="active" routerLink="/logout" class="back-link">Login</a>
    </section>
    <form>
      <input placeholder="Nome Completo">
      <input type="email" placeholder="E-mail">
      <input type="password" placeholder="Senha">
      <input placeholder="Telefone">

      <div class="input-group">
        <input placeholder="Cidade">
        <input placeholder="UF" style="width: 80px">
      </div>

      <button class="button">Cadastrar</button>

    </form>
  </div>

</div>
